<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-button (click)="gohome()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

    <ion-title>{{diginix.translate(what_included.title,what_included.title_ar)}}</ion-title>

    <ion-buttons slot="end">
    <ion-button (click)="whats_included()" slot="end">
      <ion-text color="medium">{{diginix.translate("What's included","يحتويه")}} <ion-icon name="chevron-forward-outline"></ion-icon></ion-text>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


<ion-text><h4>{{diginix.translate( "What type of service do you need?","ما نوع الخدمة التي تحتاجها؟" )}}</h4></ion-text>

<!--   -->
<ion-button [color]="formvalue.service_type==svc.title?'zamkan':'light'" (click)="formvalue.service_type=svc.title;calculate();"  *ngFor="let svc of service_type_list">{{diginix.translate(svc.title,svc.title_ar)}}</ion-button>

<br><br>


<ion-text><h4>{{diginix.translate( "What type of appliance do you need help with?","" )}}</h4></ion-text>

<!--   -->
<ion-button [color]="formvalue.appliance==svc.title?'zamkan':'light'" (click)="formvalue.appliance=svc.title;calculate();"  *ngFor="let svc of appliance_list">{{diginix.translate(svc.title,svc.title_ar)}}</ion-button>





<ion-text><h4>{{diginix.translate( "What is the make of your appliance?","" )}}</h4></ion-text>

<ion-select [(ngModel)]="formvalue.brand">
     <ion-select-option *ngFor="let tm of brand_list" value="{{tm}}">{{tm}}</ion-select-option>
</ion-select>








<ion-text><h4>{{diginix.translate("When do you need the service","")}}</h4></ion-text>
<ion-datetime [(ngModel)]="formvalue.booking_date" displayFormat="YYYY-MM-DD" placeholder="Select Date"></ion-datetime>

<ion-text><h4>{{diginix.translate("Service Time","وقت التنظيف")}}</h4></ion-text>
<ion-select [(ngModel)]="formvalue.booking_time">
     <ion-select-option *ngFor="let tm of time" value="{{tm}}">{{tm}}</ion-select-option>
</ion-select>



      <ion-text><h4>{{diginix.translate("Is there anything else you would like us to know?","هل هناك أي شيء آخر تريد منا أن نعرفه؟")}}</h4></ion-text>

          <ion-textarea rows="3" [(ngModel)]="msg"  placeholder="{{diginix.translate('Example: You will need to bring a gate pass, I will not be home and am leaving the key under tha mat, etc.','مثال: ستحتاج إلى إحضار بطاقة مرور ، ولن أكون في المنزل وأترك المفتاح تحت حصيرة ، وما إلى ذلك.')}}"></ion-textarea>


<ion-list>
  <ion-list-header>
      <ion-text><h4>{{diginix.translate("Where will the service take place?","أين ستتم الخدمة؟")}}</h4></ion-text>
  </ion-list-header>

  <ion-item>
          <ion-icon color="zamkan" slot="start" name="checkmark-circle"></ion-icon>
          <ion-label>
            <h2>{{formvalue.location.city_info.name}}</h2>
            <h3>{{formvalue.location.area_info.name}}</h3>
            <p>{{formvalue.location.villa}} {{formvalue.location.street}}</p>
          </ion-label>
          <ion-button slot="end" color="light" (click)="presentModal()">{{diginix.translate("Change","يتغيرون")}}</ion-button>


  </ion-item>
</ion-list>






</ion-content>




<ion-footer class="ion-no-border">
<ion-text color="medium" class="ion-padding"><small>{{diginix.translate("* Excluding VAT","* باستثناء الضريبة على القيمة المضافة")}}</small></ion-text>
<ion-grid>
  <ion-row>
    <ion-col size="6" class="ion-text-center" no-padding>
      <ion-text *ngIf="bill.printed_amount>bill.selling_amount" color="medium" class="strikethrough"><small>AED {{bill.printed_amount}} <br> </small></ion-text>
      
      <div [class]="bill.printed_amount<=bill.selling_amount?'vertical-center':''">
      <ion-text color="zamkan"><strong>AED {{bill.selling_amount}}</strong></ion-text>
      </div>

    </ion-col>
    <ion-col size="6" class="ion-text-center zamkan-bg" no-padding (click)="next()">
      <div class="vertical-center">{{diginix.translate("Next","التالى")}}</div>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-footer>
