<ion-content [fullscreen]="true" class="background-opts" [ngStyle]="background">
	<ion-header class="ion-no-border">
		<ion-toolbar>
			<ion-buttons slot="start">
				<ion-menu-button></ion-menu-button>
			</ion-buttons>
		</ion-toolbar>
	</ion-header>
	<ion-grid class="ion-padding-horizontal">
		<ion-row class="ion-padding-vertical">
			<ion-col size="9" class="ion-padding-vertical">
				<img src="./assets/logo.svg" width="110"/>
				<h1 class="title">Sign In</h1>
				<ion-text class="mb">Enter your email and password for signing in.</ion-text>
			</ion-col>
		</ion-row>
		<ion-row class="ion-padding-top">
			<ion-col class="ion-padding-vertical">
				<!-- <form> -->
					<ion-item lines="none" class="ion-no-padding">
						<ion-input [(ngModel)]="login.email" placeholder="Email Address" type="email" >
						</ion-input>
					</ion-item>
					<!-- <div class="errors-container">
						<ng-container>Email is required</ng-container>
						<ng-container>Email is invalid</ng-container>
					</div> -->
					<ion-item lines="none" class="ion-no-padding">
						<ion-input [(ngModel)]="login.password" placeholder="Password" type="password"></ion-input>
					</ion-item>
					<!-- <div class="errors-container">
						<ng-container>Password is required</ng-container>
						<ng-container>SomePassword Error</ng-container>
					</div> -->
					<!-- <ion-item lines="none" class="ion-no-padding mb">
						<ion-label slot="start">Remember Password</ion-label>
						<ion-toggle mode="ios" slot="end" color="primary"></ion-toggle>
					</ion-item> -->
					<ion-button class="action-button" expand="block" fill="solid" color="zamkan" type="submit" (click)="signIn()">
						<span>Get started</span>
					</ion-button>
				<!-- </form> -->
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="ion-text-center ion-padding-bottom">
				<a class="link" [routerLink]="['/forgetpw']">Forgot password?</a>

				<br><br><br>

				<a class="link" [routerLink]="['/register']">Register Now</a>

			</ion-col>
		</ion-row>
	</ion-grid>

	
<!-- 
	<br><br><br>

<ion-grid class="ion-padding-horizontal">
<ion-row class="ion-padding-top">
			<ion-col class="ion-padding-vertical">
		<ion-button class="action-button" expand="block" fill="solid" color="zamkan" type="submit" [routerLink]="['/register']">
						<span>Register Now</span>
					</ion-button>
</ion-col>
</ion-row>
</ion-grid>
 -->
</ion-content>

<!-- <ion-footer>
<ion-text color="light"><h3>Skip</h3></ion-text>
</ion-footer>
 -->
