<ion-header [translucent]="true">
  
  <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button>
           <ion-icon name="navigate-outline"></ion-icon> DUBAI
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="primary">
          <ion-button>
           EN <ion-icon name="globe-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-title class="ion-text-center" >ZAMKAN APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="false">

<ion-text><h3>Popular Services</h3></ion-text>

<ion-grid>
  <ion-row>
    <ion-col size="6">
      

      <ion-button (click)="homecleaning()">
      <ion-icon slot="icon-only" name="star"></ion-icon> Home Cleaning
    </ion-button>


    </ion-col>
  </ion-row>
</ion-grid>




</ion-content>
