ion-select, ion-input{

	height: 40px;
    border: solid 1px #efefef;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(228 228 228);
    padding-right: 7px;


}



.vertical-center{
	margin:10px;
}

ion-footer ion-grid{
	border-top:solid 1px #ebebeb;
	margin-top:5px;
	padding:0px;
}

