<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	<ion-grid class="ion-padding-horizontal">
		<ion-row class="ion-padding-bottom">
			<ion-col class="ion-text-center">
				<h1 class="title">{{diginix.translate('Create an account','انشئ حساب')}}</h1>
				<p class="mb ion-padding-horizontal">
					{{diginix.translate('Create your account and become our member today.','أنشئ حسابك وكن عضوًا لدينا اليوم.')}}
				</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
			
					<ion-item lines="none" class="ion-no-padding">
<ion-input placeholder="{{diginix.translate('First Name','الاسم الاول')}}" type="text" [(ngModel)]="signup.first_name"></ion-input>
					</ion-item>

					<ion-item lines="none" class="ion-no-padding">
<ion-input placeholder="{{diginix.translate('Last Name','الكنية')}}" type="text" [(ngModel)]="signup.last_name"></ion-input>
					</ion-item>

					
					<ion-item lines="none" class="ion-no-padding">
						<ion-input placeholder="{{diginix.translate('Email Address','عنوان البريد الالكترونى')}}" type="email" [(ngModel)]="signup.email">
						</ion-input>
					</ion-item>
					
					


					<ion-item lines="none" class="ion-no-padding">
						<ion-input placeholder="{{diginix.translate('Mobile Number','رقم الهاتف المحمول')}}" type="email" [(ngModel)]="signup.mobile">
						</ion-input>
					</ion-item>
					
					



					<ion-item lines="none" class="ion-no-padding">
						<ion-input placeholder="{{diginix.translate('Password','كلمه السر')}}" type="password" [(ngModel)]="signup.password"></ion-input>
					</ion-item>

					<ion-item lines="none" class="ion-no-padding">
						<ion-input placeholder="{{diginix.translate('Retype Password','اعد ادخال كلمة المرور')}}" type="password" [(ngModel)]="signup.password2"></ion-input>
					</ion-item>


					
					<ion-button class="action-button ion-margin-top" expand="block" fill="solid" color="zamkan"
						(click)="register();">
						<span>{{diginix.translate('Register','تسجيل')}}</span>
					</ion-button>
				
			</ion-col>
		</ion-row>
		
	</ion-grid>
</ion-content>